
@{
    ViewData["Title"] = "AboutUs";
}

<main>
    <section class="index-banner-3">
        <div class="vertical-center-3">
            <div class="section-title-3">The Team</div>
            <h3>
                We are Group 4 from Distributed Information System Course at University of South Florida. This assignment is intended to help us practice HTML, CSS and optionally, JavaScript to get good design results.
                The project is available in the Github Repository. Please find our contact details below.
            </h3>
        </div>

        <!-- Team Member -->
        <div class="team-member">
            <div class="image-wrapper">
                <img class="img-fluid" src="~/img/suryateja-1.jfif" alt="alternative1">
            </div> <!-- end of image-wrapper -->
            <div class="names-1">
                <p class="p-large">Suryateja Chalapati - BAIS</p>
                <p class="job-title">He is responsible for the design and coding part on API, SQL, HTML, CSS and JS. His experience in web development helped with the layout design.</p>
            </div>
        </div> <!-- end of team-member -->
        <!-- <br> -->
        <!-- Team Member -->
        <div class="team-member">
            <div class="image-wrapper">
                <img class="img-fluid" src="~/img/koustav-1.jfif" alt="alternative2">
            </div> <!-- end of image wrapper -->
            <div class="names-1">
                <p class="p-large">Koustav Dutta - BAIS</p>
                <p class="job-title">He is responsible for the data side of the project. He did the Entity-Relationship diagramming and found the dataset for the project.</p>
            </div>
        </div> <!-- end of team-member -->
        
        <div class="vertical-center-4">
            <div class="section-title-4">ERD Diagram</div>
            <div class="section-title-4">The ERD diagram for the database is as follows.</div>
        </div>

        <div class="vertical-center-3">
            <div class="section-title-3">
                <img class="section-title-3" src="~/img/erd-diagram.jpg" alt="alternative3">
            </div>
        </div>
    </section>
</main>

