
@{
    ViewData["Title"] = "AboutUs";
}

<main>
    <section class="index-banner-3">
        <div class="vertical-center-3">
            <h4>The Team</h4>
            <h3>
                We are Group 4 from Distributed Information System Course at University of South Florida. This assignment is intended to help us practice MVC Framework, SQL, HTML, CSS and optionally, JavaScript.
                The project is available in the Github Repository. Please find our contact details below.
            </h3>
        </div>

        <!-- Team Member -->
        <div class="team-member">
            <div class="image-wrapper">
                <img class="img-fluid" src="~/img/suryateja-1.jfif" alt="alternative1">
            </div> <!-- end of image-wrapper -->
            <div class="names-1">
                <p class="p-large">Suryateja Chalapati - BAIS</p>
                <p class="job-title">He is responsible for the design and coding part on API, SQL, HTML, CSS and JS. His experience in web development helped with the layout design.</p>
            </div>
        </div> <!-- end of team-member -->
        <!-- <br> -->
        <!-- Team Member -->
        <div class="team-member">
            <div class="image-wrapper">
                <img class="img-fluid" src="~/img/koustav-1.jfif" alt="alternative2">
            </div> <!-- end of image wrapper -->
            <div class="names-1">
                <p class="p-large">Koustav Dutta - BAIS</p>
                <p class="job-title">He is responsible for the data side of the project. He did the Entity-Relationship diagramming and found the dataset for the project.</p>
            </div>
        </div> <!-- end of team-member -->
    </section>
</main>

