@{
    ViewData["Title"] = "Home Page";
}

<div class="main-header">
    <section class="index-banner">
        <div class="vertical-center">
            <h2>Hello!<br>Welcome to Medical Cognizance</h2>
            <h1>This is a Distributed Information Systems Assignment. Here you can find Medical data based on the Provider and Hospital locales by state.</h1>
        </div>
    </section>
    <div class="wrapper">
        <section class="index-links">
        </section>
    </div>
</div>
