
@{
    ViewData["Title"] = "Intro";
}

<main>
    <section class="index-banner-2">
        <div class="vertical-center-2">
            <div class="section-title-2">Introduction</div>
            <h2>Inpatient Prospective Payment System summary for the Top 100 Diagnoses-Related Groups.</h2>
            <p>1. Healthcare costs in the U.S. are among the highest in the world in all categories.</p>
            <p>
                2. The data provided here is from data.cms.gov. It includes hospital-specific charges for the more than
                3,000 U.S. hospitals that receive Medicare Inpatient Prospective Payment System (IPPS) payments for
                the top 100 most frequently billed discharges, paid under Medicare based on a rate per discharge using
                the Medicare Severity Diagnosis Related Group (MS-DRG) for Fiscal Year (FY) 2011.
            </p>
            <p>3. Medicare is the national health insurance program in the United States.</p>
            <p>4. Navigate through the site to find: Average Total Payments by State and Difference.</p>
        </div>
    </section>
    <div class="wrapper-2">
        <a class="link" asp-controller="Home" asp-action="Update">Click here to save data to a local database</a>
    </div>
</main>